html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
}

button {
    border-radius: 25px;
}

.header {
    display: flex;
    background-color: rgb(32, 32, 107);
    color: aqua;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 500px;
}

.right-links {
    display: flex;
    gap: 32px;
    
}

a {
    text-decoration: none;
    color: aqua;
}

.main {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: #eee;
    justify-content: space-around;
    width: 100%;

}

.left {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    margin: 64px;
}

button {
    width: 100px;
}

.main img {
    width: 200px;
    height: auto;
}

.main p {
    color: rgb(114, 108, 108);
}

.main button {
    background-color: rgb(39, 39, 240);
    color: aliceblue;
}

.infobar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.text-img {
    display: flex;
    justify-content: space-evenly;
    gap: 128px;
}

.infobar img {
    width: 100px;
    height: auto;
}

.text-img-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.quotebar {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
}

.quotebar em {
    display: flex;
    font-size: 32px;
    width: 800px;
}

.quotebar strong {
    display: flex;
}

.signup {
    display: flex;
    background-color: blueviolet;
    width: 800px;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    color: aliceblue;
    margin-top: 64px;
    margin-bottom: 64px;
    border-radius: 100px;
}

.signup button {
    background-color: blue;
    color: aliceblue;
}

.footer {
    display: flex;
    background-color: rgb(32, 32, 107);
    color: rgb(114, 108, 108);
    width: 100%;
    justify-content: center;
    margin: 0;
}